@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body
{
    font-family: 'Poppins', sans-serif;
  background-color: crimson;
  text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

html{
    height: 100%;
}
.main{
    display: grid;
    place-items: center;
}
.container
{
    background-color: whitesmoke;
    margin-top: 100px;
    border-radius: 8px;
    
    width: 50%;
    max-height: 500px;
    padding: 40px;
    margin: 100px auto;
}
h3
{
    color: black;
}
.joke
{
    padding: 10px;
    font-size: 37.5px;
    color: black;
}
.btn
{
    margin: 20px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 24px;
    width: max-content;
    border-radius: 8px;
    cursor: pointer;
}
.btn:hover{
    background-color: crimson;
}

footer{
    margin-top: auto;
    padding-bottom: 10px;

}
footer a{
    text-decoration: none;
    color: white;
}